postの詳細ページ
 <p>id: 1,</p>
 <p>name: "Pizza Union Dalston",</p>
 <p>text: "ピザの名店",</p>
 <p>tag: "レストラン",</p>
 <p>address: "14 Kingsland High St, London",</p>
 <p>phonenumber: 1234557,</p>
 <p>URL: "google.com",</p>
 <p>area_id: 1, -> london</p>
 <p>city_id: 1, -> london</p>

